.trend-tags {
  position: relative;
}

.trend-tags-flex-site {
  margin: 45px 0 0 31px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 45px;
}



@media screen and (max-width: 1550px) {
  .trend-tags{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trend-tags-flex-site{
    margin: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 992px) {

  .trend-tags-flex-site{
    grid-template-columns: 1fr 1fr;
  }
}
