.image {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cut {
  height: 51px;
  background-image: url('./../../assets/img/cut.png');
  margin: 60px 0 69px;
}

.recommend {
  height: 98px;
  background-image: url('./../../assets/img/recommend.png');
  margin: 95px 0 80px;
}
