.content-section{
  
}
.flex-site {
  position: relative;
  margin: 0 auto;
  max-width: 1540px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 100px;
  background-color: unset;
  /* margin-bottom: 141px; */
  margin-bottom: 0;
}

.flex-box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 28px;
  height: fit-content;
  width: 720px;
  background-color: unset;
  cursor: pointer;
}

/* .flex-box:hover {
  outline: 1px solid;
  outline-color: hsl(0, 100%, 90);
} */
.flex-box:hover * .title-more {
  background-image: url('./../../assets/img/more_Botton_h.png');
}

.title-mainImage {
  position: relative;
  width: 268px;
  height: 217px;
  background-image: url('./../../assets/img/recommend_image.png');
  box-shadow: 1px 11px 11px 0px rgb(0 0 0 / 25%);
}

.title-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 230px;
  max-width: 418px;
  overflow: hidden;
  justify-content: flex-start;
  /* background-color: gray; */
}

.title {
  height: 38px;
  font-size: var(--theme-font-lg);
  line-height: 1;
  letter-spacing: 9.3px;
  margin-bottom: 74px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--theme-dark);
}

.content * {
  all: unset;
}

.content {
  width: 418px;
  height: 88px;
  line-height: 1.6;
  font-size: var(---theme-font-3s);
  text-align: left;
  color: var(--theme-dark);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* background-color: beige; */
}

.title-more {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 97px;
  height: 13px;
  background-image: url('./../../assets/img/more_Botton.png');
  display: block;
}
