.section {
  padding: 0;
}

.content-page {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 210px;
  /* background-color: beige; */
  background-color: unset;
}
.left-content {
}
.connect-connect {
}
.main-content {
  position: relative;
  width: 820px;
  height: auto;
  /* background-color: lightgray; */
  background-color: unset;
  word-break: break-all;
}
.main-content {
}

.title-mainImage {
  position: relative;
  top: -21px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 271px;
  height: 219px;
  background-repeat: no-repeat;
}
.title-mainImage img {
  box-shadow: 8px 9px 11px 0px rgb(0 0 0 / 25%);
}

.title-main-date {
  position: relative;
}

.create-date {
  white-space: nowrap;
  /* font-family: BIZUDGothic; */
}

.content-section {
  position: relative;
  /* margin: 92px 0 271px; */
  margin: 92px 0 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 160px;
  /* background-color: grey; */
  background-color: unset;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 489px;
  height: 258px;
  justify-content: space-between;
  /* background-color: darkgray; */
  background-color: unset;
}

.title {
  text-align: left;
  text-overflow: ellipsis;
  height: 103px;
  /* width: 267px; */
  font-size: var(--theme-font-md);
  color: var(--theme-black);
  overflow: hidden;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
  /* background-color: greenyellow; */
  background-color: unset;
}

.content * {
  all: unset;
}
.content {
  line-height: 1.6;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 86px;
  word-break: break-word;
  /* background-color: gainsboro; */
  background-color: unset;
  font-size: var(--theme-font-3s);
}

.title-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* background-color: goldenrod; */
  justify-content: flex-end;
  gap: 14px;
  color: var(--theme-color);
  font-size: var(--theme-font-4s);
}
.title-tags span {
}
