.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 46px;
}

.title-logo.showLogo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 62px;
}
.title-wrapper.news .title-logo {
  height: 49px;
  background-image: url('./../../assets/img/trumpet.png');
}
.title-wrapper.hot .title-logo {
  height: 46px;
  background-image: url('./../../assets/img/crown.png');
}

.title-logo.hideLogo {
  display: none;
}

.title-image {
  position: relative;
  height: 45px;
  content: '';
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.title-wrapper.news .title-image {
  width: 433px;
  background-image: url('./../../assets/img/title_news.png');
}
.title-wrapper.hot .title-image {
  width: 354px;
  background-image: url('./../../assets/img/title_hot.png');
}

.title-wrapper.trend .title-image {
  width: 354px;
  background-image: url('./../../assets/img/title_torendo.png');
}

@media screen and (max-width: 1550px) {
  .title-wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1400px) {
  .title-wrapper {
    margin: 0;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .title-wrapper.news .title-logo,
  .title-wrapper.hot .title-logo {
    width: 12vw;
  }

  .title-wrapper.news .title-image {
    width: 70vw;
  }
  .title-wrapper.hot .title-image,
  .title-wrapper.trend .title-image {
    width: 57vw;
    background-position: left;
  }
}
