.title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  height: 46px;
}

@media screen and (max-width: 1550px) {
  .title-wrapper {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1400px) {
  .title-wrapper {
    margin: 0;
  }
}

.title-logo.showLogo {
  background-repeat: no-repeat;
  background-position: center;
  height: 46px;
  width: 62px;
  display: block;
}
.title-wrapper.news .title-logo {
  background-image: url('./../../assets/img/trumpet.png');
}
.title-wrapper.hot .title-logo {
  background-image: url('./../../assets/img/crown.png');
}

.title-logo.hideLogo {
  display: none;
}

.title-image + div {
  position: relative;
  height: 45px;
  color: var(--theme-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--theme-font-sm);
  justify-content: center;
  top: -52px;
}
.title-wrapper.news .title-image + div {
  width: 140px;
}
.title-wrapper.hot .title-image + div {
  width: 110px;
}
.title-wrapper.trend .title-image + div {
  width: 110px;
}
.title-image::after {
  position: relative;
  content: '';
  background-image: url('./../../assets/img/title.png');
  background-repeat: no-repeat;
  background-position: left;
  height: 45px;
  width: 433px;
  display: inline-block;
}

.title-wrapper.hot .title-image,
.title-wrapper.trend .title-image {
  width: calc(433px * 0.8);
}

.title-wrapper.hot .title-image::after {
  transform: scaleX(0.8);
  transform-origin: left;
}

.title-wrapper.trend .title-image::after {
  transform: scaleX(0.8);
  transform-origin: left;
}
