:root {
  --theme-color: #9e2a2b;
  --theme-gold: #c6922a;
  --theme-dark: #343a40;
  --theme-white: #fff;

  --theme-font-3l: 58px;
  --theme-font-2l: 42px;
  --theme-font-lg: 38px;
  --theme-font-md: 36.5px;
  --theme-font-sm: 25px;
  --theme-font-2s: 21px;
  --theme-font-3s: 17.5px;
  --theme-font-4s: 13.5px;

  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

@media screen and (max-width: 768px) {
  :root {
    --theme-font-3l: 2em;
    --theme-font-2l: 1.75em;
    --theme-font-lg: 1.5em;
    --theme-font-md: 1.25em;
    --theme-font-sm: 1em;
    --theme-font-2s: 0.9em;
    --theme-font-3s: 0.75em;
    --theme-font-4s: 0.6em;
  }
}

@font-face {
  font-family: BIZUDGothic;
  src: url('./../assets/fonts/BIZUDGothic-Regular.ttf');
}
@font-face {
  font-family: Optima;
  src: url('./../assets/fonts/Optima.ttf');
}
@font-face {
  font-family: NotoSerifTC;
  src: url('./../assets/fonts/NotoSerifTC-Black.otf');
}

