.custom-footer {
  position: relative;
  background-color: var(--theme-color);
  height: 128px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.custom-footer.index-margin {
  margin-top: 127px;
}
.custom-footer.content-margin {
  margin-top: 100px;
}
.custom-footer.tag-margin {
  margin-top: 271px;
}

.custom-nav {
  width: 680px;
  height: 88px;
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.custom-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: var(--theme-white);
  justify-content: space-between;
  font-size: var(--theme-font-4s);
  text-transform: uppercase;
}

.custom-ul:nth-child(2) {
  justify-content: space-evenly;
}

.custom-li * {
  all: unset;
}
.custom-li {
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
}
/* .custom-li:hover {
  outline: 1px solid;
  outline-color: hsl(0, 100%, 90);
} */

.custom-li a {
  margin: 0;
}
.custom-li div {
  margin: 0;
}

@media screen and (max-width: 1550px) {
  .custom-footer.index-margin,
  .custom-footer.content-margin,
  .custom-footer.tag-margin {
    margin-top: 100px;
  }
}
@media screen and (max-width: 992px) {
  .custom-nav {
    width: 600px;
  }
  .custom-footer.index-margin,
  .custom-footer.content-margin,
  .custom-footer.tag-margin {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .custom-nav {
    width: 75vw;
  }
  .custom-footer.index-margin,
  .custom-footer.content-margin,
  .custom-footer.tag-margin {
    margin-top: 10vw;
  }
}
